[submodule "others/CLIP-ES"]
	path = others/CLIP-ES
	url = git@gitee.com:HAL-42/trans-wsss_-clip-es.git
[submodule "others/deeplab-pytorch"]
	path = others/deeplab-pytorch
	url = git@gitee.com:HAL-42/trans-wsss_deeplab-pytorch.git
[submodule "others/CoOp"]
	path = others/CoOp
	url = git@gitee.com:HAL-42/trans-wsss_-co-op.git
[submodule "others/segment-anything"]
	path = others/segment-anything
	url = git@gitee.com:HAL-42/trans-wsss_segment-anything.git
