[submodule "others/CLIP-ES"]
	path = others/CLIP-ES
	url = https://gitee.com/HAL-42/trans-wsss_-clip-es.git
[submodule "others/deeplab-pytorch"]
	path = others/deeplab-pytorch
	url = https://gitee.com/HAL-42/trans-wsss_deeplab-pytorch.git
[submodule "others/CoOp"]
	path = others/CoOp
	url = https://gitee.com/HAL-42/trans-wsss_-co-op.git
[submodule "others/segment-anything"]
	path = others/segment-anything
	url = https://gitee.com/HAL-42/trans-wsss_segment-anything.git
[submodule "others/MCAR"]
	path = others/MCAR
	url = https://gitee.com/HAL-42/trans-wsss-mcar.git
[submodule "others/query2labels"]
	path = others/query2labels
	url = https://gitee.com/HAL-42/trans-wsss_query2labels.git
[submodule "others/mmsegmentation"]
	path = others/mmsegmentation
	url = https://gitee.com/HAL-42/trans-wsss_mmsegmentation.git
[submodule "others/WeakTr"]
	path = others/WeakTr
	url = https://gitee.com/HAL-42/trans-wsss_-weak-tr.git
